[submodule "first-parties/Karpik.Jobs"]
	path = first-parties/Karpik.Jobs
	url = https://github.com/Karpiklalloly/Karpik.Jobs.git
[submodule "third-parties/DragonECS"]
	path = third-parties/DragonECS
	url = https://github.com/DCFApixels/DragonECS.git
[submodule "first-parties/DragonECS.Karpik.Extensions"]
	path = first-parties/DragonECS.Karpik.Extensions
	url = https://github.com/Karpiklalloly/DragonECS.Karpik.Extensions.git
